extends layout

block content
  
  include questions/question-list-navbar.pug
  include questions/question-list-content.pug
  // IE 10+ / Edge support via babel-polyfill: https://babeljs.io/docs/en/babel-polyfill/
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js')
  // jPList Library
  script(src='/javascripts/jplist.min.js')
  script.
    jplist.init();
