extends layout

block content
  .jumbotron
    // jumbotron start
    a(href="https://impress-project.eu/")
      img.mb-2(border="0" alt="W3Schools" src="/images/impress_logo_164x75.png")
    #quiz-overview.card.mb-4
      // card start
      .card-header
        // card-header start
        h5 Quiz Overview
      .card-body
        .row
          .col-md-12.pb-2
            h6 Number of Quizes - #{data.quizes.length}
        .row
          .col-md-6
            .form-group.float-left
              button.btn.btn-sm(type="button" id="listQuizes") View Quizes
              script.
                $("#listQuizes").click(function () { 
                  window.location = "/listQuizes";
                });
          .col-md-6
            .form-group.float-right
              button.btn.btn-sm(type="button" id="createQuiz") Create a new Quiz
              script.
                $("#createQuiz").click(function () { 
                  window.location = "/createQuiz";
                });    
                
    #question-overview.card.mt-4
      // card start
      .card-header
        // card-header start
        h5 Question Overview
      .card-body
        .row
          .col-md-12.pb-2
            h6 Number of Questions - #{data.questions.length}
        .row
          .col-md-6
            .form-group.float-left
              button.btn.btn-sm(type="button" id="listQuestions") View Questions
              script.
                $("#listQuestions").click(function () { 
                  window.location = "/listQuestions";
                });
          .col-md-6
            .form-group.float-right
              button.btn.btn-sm(type="button" id="createQuestion") Create a new Question
              script.
                $("#createQuestion").click(function () { 
                  window.location = "/createQuestion";
                });
