.idea
**/.mvn/*
!**/.mvn/wrapper/
**/.mvn/wrapper/*
!**/.mvn/wrapper/maven-wrapper.properties
.DS_Store

scripts

backend/src/main/resources/static/images/questions/
data/
frontend/cypress.env.json
/.vscode/
