nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  button.navbar-toggler( type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
    
  .collapse.navbar-collapse(id="navbarSupportedContent")
    .form-inline.mr-auto
  
    .form-inline
      button.btn.btn-sm.btn-light.btn-secondary.mr-1(type="button" id="saveQuiz") Save
      script.
        $("#" + "saveQuiz").click(function () {
          
          //alert(JSON.stringify(questionInterface.getQuizData()));
          
          var data = quizInterface.getQuizData();
          
          /* alert("Created Quiz") */
          
          console.log(JSON.stringify(data));
          
          $.ajax({
            url: "/api/createnewquiz",
            type: 'POST',
            success: function () {
              /* alert("Quiz Created"); */
              window.location = "/listQuizes";
            },
            data: JSON.stringify(data),
            contentType: "application/json"
          });
        });
        
      button.btn.btn-sm.btn-light.btn-secondary.mx-1(type="button" id="cancelCreateQuiz") Cancel
      script.
        $("#cancelCreateQuiz").click(function () { window.location = "/listQuizes" ;});
