nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  button.navbar-toggler( type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
    
  .collapse.navbar-collapse(id="navbarSupportedContent")
    .form-inline.mr-auto
      button.btn.btn-sm.btn-light.btn-secondary.mr-1(type="button" id="create-quiz") Create Quiz
      script.
        $("#create-quiz").click(function () { 
          window.location = "/createQuiz";
        });
        
    .form-inline
      button.btn.btn-sm.btn-light.btn-secondary.mx-1(type="button" id="generate-quiz") Generate Quiz
      script.
        $("#generate-quiz").click(function () { alert("generate quiz") ;});
