extends layout

block content
  div.jumbotron

    div.card

      div.card-header
        h5 Editting Question X

      div.card-body

        div.form-group
          label(for="questionText") Question
          textarea.form-control(id="questionText", rows="3")

        div
          button(type="button", class="btn btn-sm") OK
          button(type="button", class="btn btn-sm") Cancel
      
      div.card-body

        div.form-group
          label(for="option1Text") Option 1
          textarea.form-control(id="option1Text", rows="3")
         

        div
          button(type="button", class="btn btn-sm") OK
          button(type="button", class="btn btn-sm") Cancel
         

      div.card-body

        div.form-group
          label(for="option2Text") Option 2
          textarea.form-control(id="option2Text", rows="3")

        div
          button(type="button", class="btn btn-sm") OK
          button(type="button", class="btn btn-sm") Cancel

      div.card-body

        div.form-group
          label(for="option3Text") Option 3
          textarea.form-control(id="option3Text", rows="3")

        div
          button(type="button", class="btn btn-sm") OK
          button(type="button", class="btn btn-sm") Cancel


      div.card-body

        div.form-group
          label(for="option4Text") Option 4
          textarea.form-control( id="option4Text", rows="3")

        div
          button(type="button", class="btn btn-sm") OK
          button(type="button", class="btn btn-sm") Cancel

      div.custom-control.custom-radio
        input(type="radio", id="customRadio3", name="customRadio")
        label(for="customRadio3") Toggle this custom radio
      
      div.custom-control.custom-radio
        input(type="radio", id="customRadio4", name="customRadio")
        label(for="customRadio4") Or toggle this other custom radio
      

      div.card-body

        div.form-group
          input(type="radio", id="customRadio5", name="customRadio")
          label(for="option4Text") Option 9
          textarea.form-control(id="option9Text", rows="3")

        div
          button(type="button", class="btn btn-sm") OK
          button(type="button", class="btn btn-sm") Cancel
