## Datasource
spring.datasource.url=jdbc:postgresql://localhost:<DATABASE PORT>/<DATABASE NAME>
spring.datasource.username= <DATABASE USERNAME>
spring.datasource.password= <DATABASE PASSWORD>

## Jpa
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL9Dialect

## Resources
figures.dir=<DIRECTORY_WITH_FIGURES>
export.dir=<DIRECTORY_TO_EXPORT>
load.dir=<DIRECTORY_FOR_LOAD>

## Fenix oauth
oauth.consumer.key=<FENIX CLIENT KEY>
oauth.consumer.secret=<FENIX SECRET>
callback.url=<URL FENIX REDIRECTS TO>
base.url=<API BASE URL>