## Datasource
spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=5
spring.datasource.url=jdbc:postgresql://localhost:<DATABASE PORT>/<DATABASE NAME>
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username= <DATABASE USERNAME>
spring.datasource.password= <DATABASE PASSWORD>

## Jpa
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto = update
spring.jpa.show-sql = false
# Removes a warning
spring.jpa.open-in-view=true
# Disable feature detection by this undocumented parameter. Check the org.hibernate.engine.jdbc.internal.JdbcServiceImpl.configure method for more details.
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false
# Because detection is disabled you have to set correct dialect by hand.
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL9Dialect
#spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

## MULTIPART (MultipartProperties)
# Enable multipart uploads
spring.servlet.multipart.enabled=true
# Threshold after which files are written to disk.
spring.servlet.multipart.file-size-threshold=2KB
# Max file size.
spring.servlet.multipart.max-file-size=200MB
# Max Request Size
spring.servlet.multipart.max-request-size=215MB

## Resources
spring.resources.add-mappings=false
figures.dir=<DIRECTORY_WITH_FIGURES>

# Allow OPTIION requests for authentication
spring.mvc.dispatch-options-request=true

# Default port
server.port = 8080

## Fenix oauth
oauth.consumer.key=<FENIX CLIENT KEY>
oauth.consumer.secret=<FENIX SECRET>
callback.url=<URL FENIX REDIRECTS TO>
base.url=<API BASE URL>

#Logging
#logging.level.root=DEBUG