## Datasource
spring.datasource.url=jdbc:postgresql://localhost:5432/tutortestdb
spring.datasource.username=
spring.datasource.password=

## Jpa
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL9Dialect

## Resources
figures.dir=./folder
export.dir=./folder
load.dir=./folder

## Fenix oauth
oauth.consumer.key=<FENIX CLIENT KEY>
oauth.consumer.secret=<FENIX SECRET>
callback.url=<URL FENIX REDIRECTS TO>
base.url=https://fenix.tecnico.ulisboa.pt
