SPRING_PROFILES_ACTIVE=dev

## Datasource
SPRING.DATASOURCE.USERNAME=engineer
SPRING.DATASOURCE.PASSWORD=password

## Jpa
SPRING.JPA.DATABASE-PLATFORM=org.hibernate.dialect.PostgreSQL9Dialect

## Resources
FIGURES.DIR=./data/images/
EXPORT.DIR=./data/export/
LOAD.DIR=./data/load/

## Fenix oauth
OAUTH.CONSUMER.KEY=<FENIX CLIENT KEY>
OAUTH.CONSUMER.SECRET=<FENIX SECRET>
CALLBACK.URL=http://localhost:8081/login
BASE.URL=https://fenix.tecnico.ulisboa.pt
