.Main.p-4.bg-light
  .card.question(id="question-new")

    .card-header
      h5 Creating a new Question

    .card-body

      .form-group
        textarea.form-control(id="questionText-new", rows="3")
          
      //.row
        .col-md-12 Add Image Button Here
    .card-body    
      .row
        .col-md-12
        //  .input-group.mb-3
            .input-group-prepend
              span.input-group-text(id="question-timer-prepend") Question Timer
            input.form-control(type="text" placeholder="Timer" aria-label="question-timer" aria-describedby="question-timer-prepend" id="question-timer" value=data.question.answertime)

        //  .input-group
            label.col-form-label(for="question-timer") Question Timer
            div
              input.form-control(id="question-timer" value=data.question.answerTime) 
    
    - var newAnswerDiv = "newAnswers-new"
    
    div(id= newAnswerDiv)
    
    .card-body    
      .row
        .col-12
          .form-group
              button.btn(type="button" id="addAnswer") Add Answer
              script.
                  $("#addAnswer").click(function () {
                    questionInterface.addAnswer("#{newAnswerDiv}");
                  });
              
