// https://github.com/vuetifyjs/vuetify/issues/864

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0 !important;
  overflow: hidden !important;
}

.table {
  margin: 2%;
  width: 96%;
  padding: 0 20px;

  .v-card__title .v-btn {
    margin: 0 5px;
  }
}

.table td,
.table th {
  display: table-cell;
  vertical-align: inherit;
}

h2 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.v-icon {
  padding: 0 0 0 10px;
}
i {
  padding: 0 10px 0 0;
}

.v-alert .v-icon {
  padding: 0;
}

// icons of actions in v-data-table
.action-button {
  padding: 8px !important;
  background: #d9d9d9;
  margin: 4px;
  border-radius: 20px;
  border: 1px solid #878787 !important;
}

.action-button:hover {
  color: white !important;
  background: #878787;
}

.clickableTitle {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.v-dialog {
  margin-top: 70px !important;
}

code::before {
  display: none;
}

code::after {
  display: none;
}

code {
  padding: 10px;
  color: #2c3e50 !important;
  font-size: large !important;
}

footer {
  color: dimgrey;
  font-style: italic;
  padding-bottom: 20px;
  font-size: 20px;
}
