.quiz-container {
  height: 100%;
  font: normal normal 400 normal 16px / 16px 'Varela Round', Helvetica, Arial,
    sans-serif;
  flex-grow: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), white 20%);
  outline: none;

  header {
    bottom: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 51px;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 0;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 789px 25.5px;
    transform-origin: 789px 25.5px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(112, 128, 144) none repeat scroll 0 0 / auto padding-box
      border-box;
    border-top: 0 none rgb(255, 255, 255);
    border-right: 0 none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(101, 115, 130);
    border-left: 0 none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 51px 'Varela Round', Helvetica, Arial,
      sans-serif;
    outline: rgb(255, 255, 255) none 0;

    > span {
      width: 170px;
      bottom: 0;
      cursor: pointer;
      position: absolute;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-size-adjust: 100%;
      text-transform: uppercase;
      background: rgb(90, 103, 115) none repeat scroll 0 0 / auto padding-box
        border-box;

      &.timer {
        left: 0;
      }

      &.end-quiz {
        right: 0;
      }
    }
  }

  .question-navigation {
    bottom: 0;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 40px;
    left: 0;
    position: relative;
    right: 0;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0;
    vertical-align: middle;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 789px 20px;
    transform-origin: 789px 20px;
    user-select: none;
    caret-color: rgb(51, 51, 51);
    background: rgb(249, 249, 249) none repeat scroll 0 0 / auto padding-box
      border-box;
    border: 0 solid rgb(221, 221, 221);
    font: normal normal 400 normal 16px / 16px 'Varela Round', Helvetica, Arial,
      sans-serif;
    outline: rgb(51, 51, 51) none 0;
    padding: 5px 0;

    .left-button {
      bottom: 0;
      box-sizing: border-box;
      color: rgb(194, 194, 194);
      cursor: pointer;
      display: block;
      height: 40px;
      left: 0;
      position: absolute;
      right: 1528px;
      text-align: center;
      text-decoration: none solid rgb(194, 194, 194);
      text-size-adjust: 100%;
      top: 0;
      vertical-align: middle;
      width: 50px;
      column-rule-color: rgb(194, 194, 194);
      perspective-origin: 25px 20px;
      transform-origin: 25px 20px;
      user-select: none;
      caret-color: rgb(194, 194, 194);
      background: rgba(0, 0, 0, 0) -webkit-linear-gradient(
          right,
          rgba(245, 245, 245, 0) 0,
          rgba(245, 245, 245, 0.77) 15%,
          rgb(245, 245, 245) 40%
        ) repeat scroll 0 0 / auto padding-box border-box;
      border: 0 none rgb(194, 194, 194);
      font: normal normal 400 normal 26px / 45px 'Varela Round', Helvetica,
        Arial, sans-serif;
      outline: rgb(194, 194, 194) none 0;
      padding: 0 15px 0 10px;
    }

    .navigation-buttons {
      bottom: 0;
      box-sizing: border-box;
      color: rgb(51, 51, 51);
      height: 40px;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: none solid rgb(51, 51, 51);
      text-size-adjust: 100%;
      top: 0;
      touch-action: pan-y;
      vertical-align: middle;
      white-space: nowrap;
      column-rule-color: rgb(51, 51, 51);
      perspective-origin: 789px 20px;
      transform-origin: 789px 20px;
      user-select: none;
      caret-color: rgb(51, 51, 51);
      border: 0 none rgb(51, 51, 51);
      font: normal normal 400 normal 16px / 16px 'Varela Round', Helvetica,
        Arial, sans-serif;
      outline: rgb(51, 51, 51) none 0;
      overflow: hidden;
    }

    .current-question-button {
      box-sizing: border-box;
      color: white !important;
      cursor: pointer;
      display: inline-block;
      height: 40px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-size-adjust: 100%;
      white-space: nowrap;
      width: 40px;
      column-rule-color: rgb(255, 255, 255);
      perspective-origin: 20px 20px;
      transform-origin: 20px 20px;
      user-select: none;
      caret-color: rgb(255, 255, 255);
      background: rgb(101, 115, 130) none repeat scroll 0 0 / auto padding-box
        border-box;
      border: 0 none rgb(255, 255, 255);
      font: normal normal 700 normal 16px / 32px 'Varela Round', Helvetica,
        Arial, sans-serif;
      outline: rgb(255, 255, 255) none 0;
      overflow: hidden;
      padding: 5px;
    }

    .question-button {
      box-sizing: border-box;
      color: rgb(169, 169, 169);
      cursor: pointer;
      display: inline-block;
      height: 40px;
      text-align: center;
      text-decoration: none solid rgb(169, 169, 169);
      text-size-adjust: 100%;
      white-space: nowrap;
      width: 40px;
      column-rule-color: rgb(169, 169, 169);
      perspective-origin: 20px 20px;
      transform-origin: 20px 20px;
      user-select: none;
      caret-color: rgb(169, 169, 169);
      border: 0 none rgb(169, 169, 169);
      font: normal normal 700 normal 16px / 32px 'Varela Round', Helvetica,
        Arial, sans-serif;
      outline: rgb(169, 169, 169) none 0;
      overflow: hidden;
      padding: 5px;
    }

    .right-button {
      bottom: 0;
      box-sizing: border-box;
      color: rgb(194, 194, 194);
      cursor: pointer;
      display: block;
      height: 40px;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: none solid rgb(194, 194, 194);
      text-size-adjust: 100%;
      top: 0;
      vertical-align: middle;
      width: 50px;
      column-rule-color: rgb(194, 194, 194);
      perspective-origin: 25px 20px;
      transform-origin: 25px 20px;
      user-select: none;
      caret-color: rgb(194, 194, 194);
      background: rgba(0, 0, 0, 0) -webkit-linear-gradient(
          left,
          rgba(245, 245, 245, 0) 0,
          rgba(245, 245, 245, 0.77) 15%,
          rgb(245, 245, 245) 40%
        ) repeat scroll 0 0 / auto padding-box border-box;
      border: 0 none rgb(194, 194, 194);
      font: normal normal 400 normal 26px / 45px 'Varela Round', Helvetica,
        Arial, sans-serif;
      outline: rgb(194, 194, 194) none 0;
      padding: 0 15px 0 10px;
    }
  }
}

.question-container {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  max-width: 1024px;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 512px 356.5px;
  transform-origin: 512px 356.5px;
  user-select: none;
  caret-color: rgb(51, 51, 51);
  background: rgb(255, 255, 255) none repeat scroll 0 0 / auto padding-box
    border-box;
  border: 0 none rgb(51, 51, 51);
  margin: 50px auto 150px;
  outline: rgb(51, 51, 51) none 0;
  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  .question {
    width: 100%;
    bottom: 0;
    color: rgb(51, 51, 51);
    display: table;
    left: 0;
    position: relative;
    right: 0;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 492px 35px;
    transform-origin: 492px 35px;
    caret-color: rgb(51, 51, 51);
    border: 0 none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0;
    overflow: hidden;

    .square {
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: table-cell;
      height: 70px;
      min-height: 70px;
      min-width: 70px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-shadow: rgb(96, 107, 116) 2px 2px 0;
      text-size-adjust: 100%;
      vertical-align: middle;
      width: 70px;
      column-rule-color: rgb(255, 255, 255);
      perspective-origin: 35px 35px;
      transform-origin: 35px 35px;
      user-select: none;
      caret-color: rgb(255, 255, 255);
      background: rgb(108, 120, 130) none repeat scroll 0 0 / auto padding-box
        border-box;
      border: 0 none rgb(255, 255, 255);
      outline: rgb(255, 255, 255) none 0;
      font-size: 44px;
      line-height: 70px;

      span {
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-align: center;
        text-decoration: none solid rgb(255, 255, 255);
        text-shadow: rgb(96, 107, 116) 2px 2px 0;
        text-size-adjust: 100%;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 0 0;
        transform-origin: 0 0;
        user-select: none;
        caret-color: rgb(255, 255, 255);
        border: 0 none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0;
      }
    }

    .question-content {
      text-align: left;
      color: rgb(51, 51, 51);
      display: table-cell;
      height: 70px;
      text-decoration: none solid rgb(51, 51, 51);
      text-size-adjust: 100%;
      vertical-align: middle;
      width: 100%;
      column-rule-color: rgb(51, 51, 51);
      perspective-origin: 422px 35px;
      transform-origin: 422px 35px;
      caret-color: rgb(51, 51, 51);
      background: rgba(108, 120, 130, 0.21) none repeat scroll 0 0 / auto
        padding-box border-box;
      border: 0 none rgb(51, 51, 51);
      outline: rgb(51, 51, 51) none 0;
      padding: 10px;

      img {
        width: 80%;
        margin: 20px 10%;
      }
    }
  }

  .option-list {
    bottom: 0;
    color: rgb(51, 51, 51);
    left: 0;
    position: relative;
    right: 0;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 492px 105px;
    transform-origin: 492px 105px;
    user-select: text;
    caret-color: rgb(51, 51, 51);
    border: 0 none rgb(51, 51, 51);
    border-radius: 0 0 3px 3px;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;

    .option {
      clear: left;
      color: rgb(51, 51, 51);
      cursor: pointer;
      display: table;
      height: 70px;
      text-decoration: none solid rgb(51, 51, 51);
      text-size-adjust: 100%;
      width: 100%;
      column-rule-color: rgb(51, 51, 51);
      perspective-origin: 492px 35px;
      transform-origin: 492px 35px;
      caret-color: rgb(51, 51, 51);
      background: rgb(255, 255, 255) none repeat scroll 0 0 / auto padding-box
        border-box;
      border: 0 none rgb(51, 51, 51);
      list-style: none outside none;
      outline: rgb(51, 51, 51) none 0;
      padding-top: 10px;

      .option-letter {
        color: rgb(105, 105, 105);
        cursor: pointer;
        float: left;
        text-align: center;
        text-decoration: none solid rgb(105, 105, 105);
        text-size-adjust: 100%;
        height: 70px;
        width: 70px;
        column-rule-color: rgb(105, 105, 105);
        perspective-origin: 35px 35px;
        transform-origin: 35px 35px;
        user-select: text;
        caret-color: rgb(105, 105, 105);
        background: rgb(247, 247, 247) none repeat scroll 0 0 / auto padding-box
          border-box;
        border: 0 none rgb(105, 105, 105);
        list-style: none outside none;
        outline: rgb(105, 105, 105) none 0;
        font-size: 44px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .option-content {
        color: rgb(51, 51, 51);
        cursor: pointer;
        display: table-cell;
        height: 70px;
        text-align: left;
        text-decoration: none solid rgb(51, 51, 51);
        text-size-adjust: 100%;
        vertical-align: middle;
        width: 100%;
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 457px 35px;
        transform-origin: 457px 35px;
        caret-color: rgb(51, 51, 51);
        border: 0 none rgb(51, 51, 51);
        list-style: none outside none;
        outline: rgb(51, 51, 51) none 0;
        padding: 0 20px;
      }
    }

    .selected {
      .option-letter {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        column-rule-color: rgb(255, 255, 255);
        caret-color: rgb(255, 255, 255);
        background: rgb(61, 69, 76) none repeat scroll 0 0 / auto padding-box
          border-box;
        border: 0 none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0;
      }

      .option-content {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        column-rule-color: rgb(255, 255, 255);
        caret-color: rgb(255, 255, 255);
        background: rgb(61, 69, 76) none repeat scroll 0 0 / auto padding-box
          border-box;
        border: 0 none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0;
      }
    }
  }
}
