.scrollbar {
  overflow-y: auto !important;
  width: 100%;
  height: 100%;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(28, 58, 148)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(122, 153, 217))
  );
}
